.add-wrapper {
    margin: 20px;
    padding: 20px;
    box-shadow: 1px -3px 17px -2px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 1px -3px 17px -2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px -3px 17px -2px rgba(0, 0, 0, 0.58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.add-container {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px;
}

.add-title-cat {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

.add-title-cat input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}


.add-info-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.add-info-container select {
    width: 300px;
}

.add-info-container input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}
.add-info-container .btn {
    color: teal;
    background-color: white;
    border: 1px solid teal;
    transition: all 0.5s ease;
    margin-left: 20px;
}

.add-info-container .btn:hover {
    color: white;
    background-color: teal;
}

.list-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.list-item {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item .icon {
    cursor: pointer;
    font-size: 14px;
}

.input-file {
    display: none;
}

.file-input-label {
    padding: 5px;
    border: 1px solid teal;
    cursor: pointer;
}

.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.file-container {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.img-container {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-tech-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.add-tech-info span {
    margin-bottom: 20px;
}


.submit-button {
    padding: 10px;
    border-radius: 4px;
    color: teal;
    background-color: white;
    border: 1px solid teal;
    transition: all 0.5s ease;
}

.submit-button:hover {
    background-color: teal;
    color: white;
}

.table-wrapper {
    width: 100%;
}

span {
    font-size: 20px;
    margin-right: 20px;
}

.desc-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


.desc-container span {
    margin-bottom: 20px;
}


select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
}

option {
    border: 1px solid #ccc;
    z-index: 99;
}

.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input:hover::-webkit-inner-spin-button,
.custom-input:hover::-webkit-outer-spin-button {
  opacity: 0;
  cursor: pointer;
}

.custom-input:focus::-webkit-inner-spin-button,
.custom-input:focus::-webkit-outer-spin-button {
  opacity: 0;
  cursor: pointer;
}

.product-data-table {
    height: 385px;
    overflow: hidden;
}


table {
    border: 1px solid teal;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.table-title-container {
    width: 100%;
    display: flex;
}

.table-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: teal;
    width: 100%;
    padding: 5px;
}

.table-detail-container {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.table-detail-name {
    flex: 1.25;
    color: #333;
    background-color: #efefef;
    border: 1px solid #efefef;
    display: flex;
    justify-content: flex-start;
    padding: 5px 0px;
}

.table-detail-name strong {
    margin-left: 4px;
}

.table-detail-value {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.table-detail-value input {
    width: 80%;
}

.stock {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.inStock {
    font-size: 14px;
}

.active {
    background-color: teal !important;
    color: white !important;
}